# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# Temporary files
.tmp/
.cache/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore coverage reports
coverage/

# Ignore all test results
test-results/

# Ignore any other custom files or directories you want
